
body {
  font-family: 'Open Sans', sans-serif;
  padding-top: 5px;
}    
      header {
        background-color: #fff !important;
        box-shadow: 2px 0px 5px #aaa;
        font-size: 16px;
        margin: 0 !important;
      }
      header .icon-bar {
        background: #ffb400;
      }
      header .navbar-brand {
        padding: 5px 15px;
      }
      header .navbar-brand .logo-cabecera {
        height: 45px;
      }
      header #menu li a {
        color: #666 !important;
      }
      ul li  {
        text-decoration: none;
      }
    
    #Inscripcion h1 {
        color: darkblue !important;
        font-size: 30px;
        font-weight: 700;
        margin-top: 1em;
        margin-bottom: 0.5em;
    }

    img.pequeña{
      width: 50px;
      height: 50px;
    }
    
    
    
    .btn-inscripcion {
      text-decoration: none;
      
    }
    .btn-inscripcion button {
      background: #3ab35b;
      border: none;
      border-bottom: 4px solid #2b7b3d;
      color: #fff;
      font-size: 16px;
      font-weight: 600;
      padding: 5px 20px;
      text-shadow: 1px 1px 0 #2b7b3d;
      margin-top: 1em;
    }
    
    ol li {
      float: inline-start;
    }
    
    #Inscripcion #Inscripcion--requisitos{
      border-top: 2px dotted #ffb400;
      margin-top: 2em;
      padding-top: 1em;
      border-bottom: 2px dotted #ffb400;
      margin-bottom: 1em;
    }
    
    #Inscripcion #pagos--info .titulo{
      margin-top: 1em;
      color: black;
    }
    
    #Inscripcion #pagos--info .table{
      box-shadow: 0px 0px 2px #ccc;
    }
    #Inscripcion #pagos--info .table th {
      background: #06c;
      color: #fff;
      text-align: center;
    }
    
      footer {
        background: #06c;
        color: #fff;
      }
      footer h2 {
        font-size: 25px;
        font-weight: 700;
        margin: 15px auto 10px;
      }
      footer h3 {
        font-size: 16px;
        font-weight: 700;
        margin: 5px auto;
      }
      footer h4 {
        font-size: 14px;
      }
      footer a {
        text-decoration: none;
        color: white;
      }
      .buttons {
        background: #ffb400;
        border: none;
        border-bottom: 8px solid #be8200;
        color: #fff;
        font-size: 25px;
        font-weight: 600;
        margin: 20px auto;
        padding: 15px 35px;
        text-shadow: 2px 2px 0 #be8200;
      }

      .btn-wtshap{
        position: fixed;
        width: 55px;
        height: 55px;
        line-height: 55px;
        bottom: 30px;
        right: 30px;
        background: #0df053;
        color:#fff;
        border-radius: 50px;
        text-align: center;
        font-size: 30px;
        box-shadow: 0px 1px 10px rgba(0,0,0,0.03);
        z-index: 100;
        }
    
        .btn-wtshap:hover {
        text-decoration: none;
        color: #0df053;
        background: #fff;
        }